<div class="container" *ngIf="formComputer" [formGroup]="formComputer">
  <mat-form-field>
    <mat-label> Marca </mat-label>
    <input matInput placeholder="Marca" formControlName="brand" />
  </mat-form-field>
  <mat-form-field>
    <mat-label> Modelo </mat-label>
    <input matInput placeholder="Modelo" formControlName="model" />
  </mat-form-field>

  <button
    color="primary"
    mat-stroked-button
    [disabled]="formComputer.invalid"
    (click)="saveComputer()"
  >
    Guardar
  </button>
</div>
